:root{
  --container-width: 1150px;
}

*,*::before,*::after{
  box-sizing: inherit;
}

html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 200vh;
}
a{
  text-decoration: none;
}

.container{
  width: 100%;
  max-width: var(--container-width);
  margin: auto;
}


.intro{
  background-color: #232328;
  color: white;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav .logo{
}

nav .links{
  display: flex;
}
nav .links a{
  padding: 8px 16px;
  color: #fff;
}

.intro .content{
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.intro .content .main-content{
  width: 70%;
} 
.intro .content .main-content .main-title{
  color: blue;
}
.intro .content .main-video{
  width: 30%;
} 
.intro .content .main-video video{
  width: 100%;
}



.info{
  margin-bottom: 6rem;
}
.info .info-description{
  text-align: center;
}

.info .network-info{
  display: flex;
  justify-content: space-between;
}

.info .network-info .stat{
  width: 32%;
  background-color: var(--button_light_secondary);
  /* background-color: #ccc; */
  padding: 24px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.info .network-info .stat-title{
  margin-bottom: 12px;
}

.info .network-info .stat-count{
  font-size: 24px;
  font-weight: bold;
}
.info .network-info .stat img{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(30%, -50%);
  height: 64px;
  z-index: 0;
  opacity: 0.1;
}

.info .network-info .stat .stat-title, .info .network-info .stat .stat-count{
  position: relative;
  z-index: 1;
}


.coin{
  display: flex;
  background-color: #ccc;
  justify-content: space-between;
  padding: 32px;
  border-radius: 16px;
}
.coin.container{
  max-width: calc(var(--container-width) + 64px );
}



/* Devlopers */


.developers{

  background-color: #29292d;
  color: #fff;
  padding: 64px 0;
}

.developers .developers-content{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.developers .description{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}
.developers .description h3{
  font-size: 72px;
  margin: 0;
}

.developers .description p{
  margin-bottom: 48px;
}



.developers .browser{
  
  background-color: #2f2f33;
  border-radius: 24px;
  overflow: hidden;
  width: 90%;
}

.developers .browser .browser-buttons{
  background-color: #111;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.developers .browser .browser-button{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 8px;
}

.developers .browser .green{
  background-color: green;
}

.developers .browser .red{
  background-color: red;
}

.developers .browser .yellow{
  background-color: yellow;
}



.developers .browser .browser-content{
  
  display: flex;
}

.developers .browser .tabs{  
  width: 25%;
  display: flex;
  flex-direction: column;
}

.developers .browser .tabs a{
  color: #fff;
  padding: 16px 0 16px 32px;
}
.developers .browser .tabs a:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.developers .browser .tabs a.selected{
  background-color: rgba(255, 255, 255, 0.1);
}

.developers .browser .content{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 16px;
}

.developers .browser .content footer{

  display: flex;
  justify-content: space-between;
}